@model MedicoPlus.Models.DoctorLocation
@using MedicoPlus.Models;
@{
    
    ViewBag.Title = "BookAppointment";
    Layout = " ~/Views/Shared/_AppUserLayout.cshtml";
    List<int> timeSlot = ViewBag.timeSlot;
    string error = ViewBag.error_found;
    DoctorModel doctor = ViewBag.Doctor;
}
<body class="smallscreen fixed-left-void">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Appointment booking</h4>
                <ol class="breadcrumb">
                    <li>
                        Book your appointment
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="card-box">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal" role="form" action="/AppUser/BookAppointment" method="post">
                                <h4 align="center" class="m-t-0 header-title"><b>Booking Appointment</b></h4>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Doctor Name</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" disabled value=@doctor.DocName name="doctorname">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Clinic Name</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" disabled value="@Model.ClinicName" name="clinicname">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Clinic Address</label>
                                    <div class="col-md-10">
                                        <textarea type="text" class="form-control" disabled name="clinicadress">@Model.Address</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Appoinment Date</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input type="date" class="form-control" placeholder="DD/MM/YYYY" id="datepicker-autoclose" name="AppDate">
                                            <span class="input-group-addon bg-custom b-0 text-white"><i class="icon-calender"></i></span>
                                        </div><!-- input-group -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Appointment time</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="AppTime">
                                            @foreach (int time in timeSlot)
                                            {
                                                if (time > 12)
                                                {
                                                    var x = time - 12;
                                                    <option value=@time>@x:00 PM</option>
                                                }
                                                else
                                                {

                                                    <option value=@time>@time:00 AM</option>
                                                }



                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2 control-label"></div>
                                    <div class="col-md-10">
                                        <input type="hidden" name="DoctorLocationId" value="@ViewBag.DoctorLocationId"/>
                                        @if(error != null) { <p>* Please fill every form Fields</p> }
                                        <button type="submit" class="btn btn-purple waves-effect waves-light">Check</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </div>
 
</body>


   
