@using System.Data
@model DataTable
@{
    ViewBag.Title = "DoctorList";
    Layout = "~/Views/Shared/_AppUserLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">

        <h3 class="page-title">Doctor List</h3></br>
        <div class="card-box">
            <div class="table-responsive">
                <table class="table table-actions-bar m-b-0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Doctor Name</th>
                            <th>Clinic Name</th>
                            <th>Area Name</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Rows.Count; i++)
                        {
                        <tr>
                            <td><center><img style="max-width: 80px; max-height: 80px" src=@Model.Rows[i]["Photo"] class="thumb-la" alt=""></center></td>
                            <td><a href="/AppUser/DoctorProfile/@Model.Rows[i]["DoctorId"]"><span class="text-custom">@Model.Rows[i]["DocName"]</span></a></td>
                            <td>@Model.Rows[i]["ClinicName"]</td>
                            <td>@Model.Rows[i]["AreaName"]</td>
                            <td>@Model.Rows[i]["Phone"]</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

