
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_myTemplate.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Welcome!</h4>
        <p><br></p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <h4 class="text-dark header-title m-t-0 m-b-30">About this project</h4>
            <p>
                The main purpose of this project is to build a system that will ease the process of Municipal Corporation to keep track on the Number of people suffering from particular diseases with its area and Consulted doctor.  It will also ease the process of booking appointment to consult a doctor. A patient will book the appointment through his/her mobile phone or using our web service. The doctor will come to know the number of patients he has to attend whole day. The system will prove to be useful for Municipal Corporation by keeping day to day track of the no. of people suffering from common diseases and to the doctors as they can check their appointments whenever and from wherever he wants from this application. It will be very useful for the general public as they can book appointment, get their reports in the app And they can also order their prescribed medicine using the app itself.

            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="widget-bg-color-icon card-box fadeInDown animated">
            <div class="bg-icon bg-icon-purple pull-left">
                <img style="border: none; border-radius: 39px " height="76px" width="76px" src=@Url.Content("/Content/myTemplate/assets/images/our/creators/Priyam.png")><!--78px-->
            </div>
            <div class="text-right">
                <p class="text-dark"><b>Priyam Modi</b></p>
                <p class="text-muted">Project<br>Developer</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-bg-color-icon card-box fadeInDown animated">
            <div class="bg-icon bg-icon-purple pull-left">
                <img style="border: none; border-radius: 39px " height="76px" width="76px" src=@Url.Content("/Content/myTemplate/assets/images/our/creators/karan.png")><!--78px-->
            </div>
            <div class="text-right">
                <p class="text-dark"><b>Karan Shah</b></p>
                <p class="text-muted">Backend<br>Developer</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-bg-color-icon card-box fadeInDown animated">
            <div class="bg-icon bg-icon-purple pull-left">
                <img style="border: none; border-radius: 39px " height="76px" width="76px" src=@Url.Content("/Content/myTemplate/assets/images/our/creators/kush.png")><!--78px-->
            </div>
            <div class="text-right">
                <p class="text-dark"><b>Kush Shah</b></p>
                <p class="text-muted">Backend<br>Developer</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-bg-color-icon card-box fadeInDown animated">
            <div class="bg-icon bg-icon-purple pull-left">
                <img style="border: none; border-radius: 39px " height="76px" width="76px" src=@Url.Content("/Content/myTemplate/assets/images/our/creators/rushabh.png")><!--78px-->
            </div>
            <div class="text-right">
                <p class="text-dark"><b>Rushabh<br>Vakharwala</b></p>
                <p class="text-muted">Frontend Designer</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>

