<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href=@Url.Content("~/Content/myTemplate/assets/images/favicon_1.ico")>
    <title>MedicoPlus Admin</title>
    <!--Morris Chart CSS -->
    <link rel="stylesheet" href=@Url.Content("/Content/myTemplate/assets/plugins/morris/morris.css")>
    <link href=@Url.Content("/Content/myTemplate/assets/css/bootstrap.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("/Content/myTemplate/assets/css/core.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("/Content/myTemplate/assets/css/components.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("/Content/myTemplate/assets/css/icons.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("/Content/myTemplate/assets/css/pages.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("/Content/myTemplate/assets/css/responsive.css") rel="stylesheet" type="text/css" />
    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src=@Url.Content("~/Content/myTemplate/assets/js/modernizr.min.js")></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','../../../www.google-analytics.com/analytics.js','ga');
   ga('create', 'UA-69506598-1', 'auto');
   ga('send', 'pageview');
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
$(document).ready(function() {
 $("#btnExport").click(function(e) {
   e.preventDefault();

   //getting data from our table
   var data_type = 'data:application/vnd.ms-excel';
   var table_div = document.getElementById('table_wrapper');
   var table_html = table_div.outerHTML.replace(/ /g, '%20');

   var a = document.createElement('a');
   a.href = data_type + ', ' + table_html;
   a.download = 'FormP' + Math.floor((Math.random() * 9999) + 10000000) + '.xls';
   a.click();
 });
});
    </script>
    <script>
$(document).ready(function() {
 $("#btnExport1").click(function(e) {
   e.preventDefault();

   //getting data from our table
   var data_type = 'data:application/vnd.ms-excel';
   var table_div = document.getElementById('table_wrapper1');
   var table_html = table_div.outerHTML.replace(/ /g, '%20');

   var a = document.createElement('a');
   a.href = data_type + ', ' + table_html;
   a.download = 'LineList' + Math.floor((Math.random() * 9999) + 1000000) + '.xls';
   a.click();
 });
});
    </script>
</head>

<body class="fixed-left">
    <!-- Begin page -->
    <div id="wrapper">
        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    <a href="navigationpaneluser.html" class="logo"><span><img style="height: 45px" src=@Url.Content("/Content/myTemplate/assets/images/Our/web.png")></span></a>
                </div>
            </div>
            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="">
                        <div class="pull-left">
                            <button class="button-menu-mobile open-left">
                                <i class="ion-navicon"></i>
                            </button>
                            <span class="clearfix"></span>
                        </div>
                        <ul class="nav navbar-nav navbar-right pull-right">

                            <li class="hidden-xs">
                                <a href="#" id="btn-fullscreen" class="waves-effect"><i class="icon-size-fullscreen"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle profile waves-effect" data-toggle="dropdown" aria-expanded="true"><img src="/Content/myTemplate/assets/images/users/avatar-1.png" alt="user-img" class="img-circle"> </a>
                                <ul class="dropdown-menu">
                                    @*<li><a href="javascript:void(0)"><i class="ti-user m-r-5"></i> Profile</a></li>
    <li><a href="javascript:void(0)"><i class="ti-settings m-r-5"></i> Settings</a></li>
    <li><a href="javascript:void(0)"><i class="ti-lock m-r-5"></i> Lock screen</a></li>
    <li><a href="javascript:void(0)"><i class="ti-user m-r-5"></i> Profile</a></li>*@

                                    @if (Session["Admin"] != null)
                                    {
                                        <li>
                                            <a href="/Access/Login"><i class="ti-power-off m-r-5"></i> Logout</a>
                                        </li>}
                                    else
                                    {
                                        <li>
                                            <a href="/Admin/SignUp"><i class="ti-power-off m-r-5"></i>SignUp</a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        </ul>

                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">
                <!--- Divider -->
                <div id="sidebar-menu">
                    <ul>



                        <li class="has_sub">
                            <a href="/Admin/GenerateReports" class="waves-effect waves-light"><i class="ti-list-ol"></i> <span> Report Generation </span> </a>
                        </li>
                        <li class="has_sub">
                            <a href="#" class="waves-effect waves-light"><i class="ti-map"></i><span> Manage Area </span> </a>
                            <ul class="list-unstyled">
                                <li><a href="/Admin/CreateZone">Add Zone</a></li>
                                <li><a href="/Admin/GetAllZone">Update Zone</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="#" class="waves-effect waves-light"><i class="ti-list"></i><span> Manage Disease </span> </a>
                            <ul class="list-unstyled">
                                <li><a href="/Admin/CreateDisease">Add Disease</a></li>
                                <li><a href="/Admin/GetAllDisease">Update Diseases</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="#" class="waves-effect waves-light"><i class="ti-pulse"></i><span> Manage Speciality </span> </a>
                            <ul class="list-unstyled">
                                <li><a href="/Admin/CreateSpeciality">Add Speciality</a></li>
                                <li><a href="/Admin/GetAllSpeciality">Update Specialities</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="#" class="waves-effect waves-light"><i class="ti-id-badge"></i><span> Manage Doctors </span> </a>
                            <ul class="list-unstyled">
                                <li><a href="/Admin/VerifyDoctor">Authenticate Doctors</a></li>
                                <li><a href="/Admin/DoctorList">View List</a></li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="feedback.html" class="waves-effect waves-light"><i class="ti-pencil-alt"></i><span>Broadcast Message</span></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container">
                    <!-- Page-Title -->
                    
                        @RenderBody()
                    </div>

                    <!-- end row -->

                </div> <!-- container -->
            </div> <!-- content -->
            <footer class="footer text-right">
                2016  Medico Plus
            </footer>
        </div>

        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <div class="side-bar right-bar nicescroll">
            <h4 class="text-center">Chat</h4>
            <div class="contact-list nicescroll">
                <ul class="list-group contacts-list">
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar">
                                <img src=@Url.Content("~/Content/myTemplate/assets/images/users/avatar-1.jpg") alt="">
                            </div>
                            <span class="name">Chadengle</span>
                            <i class="fa fa-circle online"></i>
                        </a>
                        <span class="clearfix"></span>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar">
                                <img src=@Url.Content("~/Content/myTemplate/assets/images/users/avatar-2.jpg") alt="">
                            </div>
                            <span class="name">Tomaslau</span>
                            <i class="fa fa-circle online"></i>
                        </a>
                        <span class="clearfix"></span>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar">
                                <img src=@Url.Content("~/Content/myTemplate/assets/images/users/avatar-3.jpg") alt="">
                            </div>
                            <span class="name">Stillnotdavid</span>
                            <i class="fa fa-circle online"></i>
                        </a>
                        <span class="clearfix"></span>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar">
                                <img src=@Url.Content("~/Content/myTemplate/assets/images/users/avatar-4.jpg") alt="">
                            </div>
                            <span class="name">Kurafire</span>
                            <i class="fa fa-circle online"></i>
                        </a>
                        <span class="clearfix"></span>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar">
                                <img src=@Url.Content("~/Content/myTemplate/assets/images/users/avatar-5.jpg") alt="">
                            </div>
                            <span class="name">Shahedk</span>
                            <i class="fa fa-circle away"></i>
                        </a>
                        <span class="clearfix"></span>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar">
                                <img src=@Url.Content("~/Content/myTemplate/assets/images/users/avatar-6.jpg") alt="">
                            </div>
                            <span class="name">Adhamdannaway</span>
                            <i class="fa fa-circle away"></i>
                        </a>
                        <span class="clearfix"></span>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar">
                                <img src=@Url.Content("~/Content/myTemplate/assets/images/users/avatar-7.jpg") alt="">
                            </div>
                            <span class="name">Ok</span>
                            <i class="fa fa-circle away"></i>
                        </a>
                        <span class="clearfix"></span>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar">
                                <img src=@Url.Content("~/Content/myTemplate/assets/images/users/avatar-8.jpg") alt="">
                            </div>
                            <span class="name">Arashasghari</span>
                            <i class="fa fa-circle offline"></i>
                        </a>
                        <span class="clearfix"></span>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar">
                                <img src=@Url.Content("~/Content/myTemplate/assets/images/users/avatar-9.jpg") alt="">
                            </div>
                            <span class="name">Joshaustin</span>
                            <i class="fa fa-circle offline"></i>
                        </a>
                        <span class="clearfix"></span>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            <div class="avatar">
                                <img src=@Url.Content("~/Content/myTemplate/assets/images/users/avatar-10.jpg") alt="">
                            </div>
                            <span class="name">Sortino</span>
                            <i class="fa fa-circle offline"></i>
                        </a>
                        <span class="clearfix"></span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /Right-bar -->
    </div>
    <!-- END wrapper -->

    <script>
            var resizefunc = [];
    </script>
    <!-- jQuery  -->
    <script src=@Url.Content("~/Content/myTemplate/assets/js/jquery.min.js")></script>
    @*<script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@
    <script src=@Url.Content("~/Content/myTemplate/assets/js/bootstrap.min.js")></script>
    <script src=@Url.Content("~/Content/myTemplate/assets/js/detect.js")></script>
    <script src=@Url.Content("~/Content/myTemplate/assets/js/fastclick.js")></script>
    <script src=@Url.Content("~/Content/myTemplate/assets/js/jquery.slimscroll.js")></script>
    <script src=@Url.Content("~/Content/myTemplate/assets/js/jquery.blockUI.js")></script>
    <script src=@Url.Content("~/Content/myTemplate/assets/js/waves.js")></script>
    <script src=@Url.Content("~/Content/myTemplate/assets/js/wow.min.js")></script>
    <script src=@Url.Content("~/Content/myTemplate/assets/js/jquery.nicescroll.js")></script>
    <script src=@Url.Content("~/Content/myTemplate/assets/js/jquery.scrollTo.min.js")></script>
    <script src=@Url.Content("~/Content/myTemplate/assets/plugins/peity/jquery.peity.min.js")></script>
    <!-- jQuery  -->
    <script src=@Url.Content("~/Content/myTemplate/assets/plugins/waypoints/lib/jquery.waypoints.js")></script>
    <script src=@Url.Content("~/Content/myTemplate/assets/plugins/counterup/jquery.counterup.min.js")></script>

    <script src=@Url.Content("~/Content/myTemplate/assets/plugins/morris/morris.min.js")></script>
    <script src=@Url.Content("~/Content/myTemplate/assets/plugins/raphael/raphael-min.js")></script>
    <script src=@Url.Content("~/Content/myTemplate/assets/plugins/jquery-knob/jquery.knob.js")></script>
    @*<script src=@Url.Content("~/Content/myTemplate/assets/pages/jquery.dashboard.js")></script>*@
    <script src=@Url.Content("~/Content/myTemplate/assets/js/jquery.core.js")></script>
    <script src=@Url.Content("~/Content/myTemplate/assets/js/jquery.app.js")></script>
    <script type="text/javascript">
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });

                $(".knob").knob();

            });
    </script>


</body>
<!-- Mirrored from coderthemes.com/ubold_1.4/dark_1/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Oct 2016 14:26:47 GMT -->
</html>
