@using System.Data;
@model DataTable
@{
    ViewBag.Title = "AddReport";
    DataTable reports =(DataTable) ViewBag.Reports;
    Layout = "~/Views/Shared/_medicoDoctor.cshtml";
    DataTable city = (DataTable)ViewBag.City;
    DataTable Area = (DataTable)ViewBag.Area;
}


        <div class="col-md-6">
            <h2>Add Report</h2>
    <form action="/Doctor/AddReport" method="Post" enctype="multipart/form-data" class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-md-2 control-label">Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="PatientName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Address</label>
            <div class="col-md-10">
                <textarea class="form-control" rows="5" name="PatientAddress"></textarea>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-md-2 control-label">City</label>
            <div class="col-md-10">
                <select class="form-control" name="CityId">
                    @for (int i = 0; i < city.Rows.Count; i++)
                    {
                        <option value=@city.Rows[i]["CityId"]>@city.Rows[i]["CityName"]</option>

                    }
                </select>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-md-2 control-label">Area</label>
            <div class="col-md-10">
                <select class="form-control" name="AreaId">
                    @for (int i = 0; i < Area.Rows.Count; i++)
                    {
                        <option value=@Area.Rows[i]["AreaId"]>@Area.Rows[i]["AreaName"]</option>

                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Gender: </label>
            <div class="col-md-10">
                <div class="radio radio-info radio-inline">
                    <input type="radio" id="inlineRadio1" value="Male" name="Gender">
                    <label for="inlineRadio1"> Male </label>
                </div>
                <div class="radio radio-inline">
                    <input type="radio" id="inlineRadio2" value="Female" name="Gender">
                    <label for="inlineRadio2"> Female </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Mobile</label>
            <div class="col-md-10">
                <input type="number" class="form-control" name="Mobile">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Age</label>
            <div class="col-md-10">
                <input type="number" class="form-control" name="Age">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Occupation</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="Occupation">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Date</label>
            <div class="col-md-10">
                <input type="date" class="form-control" name="Date">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Disease</label>
            <div class="col-sm-10">
            <select name="DiseaseId" class="form-control">
                @for (int i = 0; i < Model.Rows.Count; i++)
                {
                    <option value="@Model.Rows[i]["DiseaseId"]">@Model.Rows[i]["DiseaseName"]</option>
                }
            </select></div>
        </div><div align="right">
        <button  type="submit" class="btn btn-purple waves-effect waves-light">Submit</button></div>

        <br />
        <br />
    </form>
</div>


