
@using System.Data;
@model DataTable
@{
    ViewBag.Title = "PreviousReports";
    DataTable reports = (DataTable)ViewBag.Reports;
    Layout = "~/Views/Shared/_medicoDoctor.cshtml";
    DataTable city = (DataTable)ViewBag.City;
    DataTable Area = (DataTable)ViewBag.Area;
}



<div class="col-md-10" id="#Pending">
    <h2>Previously Submitted Reports</h2>

    <table class="table table-striped m-0">
        <thead>
            <tr>
                <th>Disease Name</th>
                <th>Patient Name</th>
                <th>Patient Address</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < reports.Rows.Count; i++)
            {
                <tr>
                    <td>@reports.Rows[i]["DiseaseId"]</td>
                    <td>@reports.Rows[i]["PatientName"]</td>
                    <td>@reports.Rows[i]["PatientAddress"]</td>

                </tr>
            }
        </tbody>
    </table>
</div>
